<div>
    <h2>Reset Your Password</h2>
</div>
         
<form th:action="@{/account/reset_password}" method="post" style="max-width: 350px; margin: 0 auto;">
    <input type="hidden" name="token" th:value="${token}"/>
<div class="border border-secondary rounded p-3">
    <div>
        <p>
            <input type="password" name="password" id="password" class="form-control"
                placeholder="Enter your new password" required autofocus [(ngModel)]="user.password"/>
        </p>
        <p>
            <input type="password" class="form-control" placeholder="Confirm your new password"
                required />
        </p>         
        <p class="text-center">
            <input type="submit" value="Change Password" class="btn btn-primary" (click)="resetPassword()"/>
        </p>
        <p>
            {{message}}
        </p>
    </div>
</div>
</form>